@page
@model PCStore_MVC.Views.Home.AddProductModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<div class="row">
	<p>Enter details for a new product:</p>
	<form method="POST">
		<div><input asp-for="Product.CompanyName"
		            placeholder="Company Name" /></div>
		<div><input asp-for="Product.Country"
		            placeholder="Country" /></div>
		<div><input asp-for="Product.Phone"
		            placeholder="Phone" /></div>
		<input type="submit" />
	</form>
</div>