@page
@model GenerateRecoveryCodesModel
@{
	ViewData["Title"] = "Сгенерировать коды восстановления двухфакторной аутентификации (2FA)";
	ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
	<p>
		<span class="glyphicon glyphicon-warning-sign"></span>
		<strong>Сохраните эти коды в безопасном месте.</strong>
	</p>
	<p>
		Если вы потеряете устройство и не будете иметь коды восстановления, то потеряете доступ к своей учетной записи.
	</p>
	<p>
		Генерация новых кодов восстановления не меняет ключи, используемые в приложениях аутентификаторов. Если вы хотите изменить ключ,
		используемый в приложении аутентификатора, вы должны <a asp-page="./ResetAuthenticator">сбросить ваши ключи аутентификатора.</a>
	</p>
</div>
<div>
	<form method="post">
		<button class="btn btn-danger" type="submit">Сгенерировать коды восстановления</button>
	</form>
</div>